project:
  type: website

website:
  title: "Rozanne Lim"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - example_analysis.qmd
  back-to-top-navigation: true

format:
  html:
    respect-user-color-scheme: true
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



